.container{
    text-align: center;
    margin-top:auto;
}

table{
    margin: auto;
}

input{
    border-radius: 20px;
    border: 5px solid black;
    font-size:35px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #a19da7;
    width: 95px;
    height: 90px;
    margin: 5px;
}

.calculator{ 
    border: 4px solid black;
    background-color: #a8dcec;
    padding: 22px;
    border-radius: 50px;
    display: inline-block;
    
}

h1{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
